/*Par aminata*/
body{
    background-image: url(../img/fd.png);
    font-family: fantasy;

}
header{
    padding: 1px;
    margin: 0;
    opacity: 0.75;
}
.connect{
    float: right;
    border: 3px #d991d7 solid;
    border-radius: 20px;
    padding-top: 0;
    margin-top: 20px;
    margin-right: 15px;
    padding: 5px;
}

.inscription{
    float: right;
    border: 3px #d991d7 solid;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px;
}
strong{
    margin-left: 30px;
    font-size: 40px;
    width: 120px;
    color: #d991d7;
    border: 2px;
    border-color: black;
    border-style: dotted;
    border-radius: 50%;
    padding: 8px;
}
a{
    text-decoration: none;
    color: #271e1e;
}
#img{
    height: 300px;
    width: 300px;
    background:#d0d0d0;
    display: inline-block;
    margin-left: 30%;


}
#info {
    height: 300px;
    width: 300px;
    background: #d0d0d0;
    display: inline-block;
    vertical-align: top;
}