body{
	background-image: url(../img/fd.png);
	text-align: center;

}

h1{
	text-align: center;
	text-decoration: overline;
}
 #photo1{
	height: 300px;
	width: 32%;
	background:#d0d0d0;
	display: inline-block;
	background: 
	
	
		
}

.bvalid{
	position: absolute;
    right: 0px;
    width: 300px;
}